

body {
  background-color: #2FAC66;

}

ul {
  list-style-type: none;
}
li {

  width: 8vw;
  height: 8vw;
  margin-left: 1em;
  margin-top: 1em;
}

article {
  display: flex;
  justify-content: space-between;

}

.states {
  background: url('fond-aller.png') no-repeat top center;
  background-size: cover;
  flex-grow: 1;
  min-height: 90vh;
  display: flex;
  justify-content: space-between;


}

.choices {
  background-color: #FF6544;
  border-radius: 40px;
  height: 40em;
  width: 40em;
  margin-right: 3em;
  margin-top: 2em;

}

.leftbank {
  display: flex;
}

.rightbank {
  display: flex;
  align-items: flex-end;
}

img {
  width: 100%;
}


.jouez {
text-decoration: none;
border-width: medium;
border-style: solid;
border-color: white;
padding: 20px;
border-radius: 20px;
display: block;
margin: 6em auto;

}

.bg {

background-size:cover;
background-repeat: no-repeat;

}

.choix {
  text-decoration: none;
  border-width: medium;
  border-color: white;

}

.rightbank2 {
  display: flex;
  align-items: flex-end;
  padding-top: 2em;

}
